.idRequest{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content{
  display: flex;
  gap: 20px;
}
.column{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.buttons{
  display: flex;
  gap: 10px;
}